<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.solstice.melon.dao.RolePermissionMapper" >

    <insert id="correlations" >
        INSERT INTO role_permission(role_id, permission_id)
        VALUES 
            <foreach collection="permissionIds" item="permissionId" open="" separator="," close="">
                (#{roleId},#{permissionId})
            </foreach>
    </insert>

    <delete id="uncorrelations">
        DELETE FROM role_permission
        WHERE
        role_id = #{roleId} AND permission_id IN
        <foreach collection="permissionIds" item="permissionId" open="(" separator="," close=")">
            #{permissionId}
        </foreach>
    </delete>

    <delete id="uncorrelationRoles">
        DELETE FROM role_permission
        WHERE
          role_id IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        AND
          permission_id IN
        <foreach collection="permissionIds" item="permissionId" open="(" separator="," close=")">
            #{permissionId}
        </foreach>
    </delete>

    <delete id="uncorrelationAllPermissionOfRoles">
        DELETE FROM role_permission WHERE role_id IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
    
</mapper>